@model CartOverviewViewModel

<form asp-area="POS" asp-controller="Cart" asp-action="AddProduct">

    <div>
        <select asp-for="SelectedShowTimeId">
            @foreach (var movieShowTimeGroup in Model.Showtimes)
            {
                <optgroup label="@movieShowTimeGroup.Key">
                    @foreach (var movieShowTime in movieShowTimeGroup)
                    {
                        <option value="@movieShowTime.Id">@movieShowTime.Title - @movieShowTime.ShowTime.Date.ToShortDateString()</option>
                    }
                </optgroup>

            }
        </select>
    </div>

    <div>
        <input type="submit" value="Add reservation" asp-for="Action" />
    </div>

    <div>
        <label asp-for="Action">Add subscription for 1 year</label>
        <input type="submit" value="Add subscription" asp-for="Action" />
    </div>
    
    <div>
        <label asp-for="Action">Add movie pass for 10 shows</label>
        <input type="submit" value="Add movie pass" asp-for="Action" />
    </div>

</form>